<!-- <div *ngIf="vip" > -->

    <!-- <h2 id="vipName">{{vip.name | uppercase}}</h2>
    <div>

        <label>Name:
            <input [(ngModel)]="vip.name" placeholder="name"/>
        </label>
    </div>
    <div><span>Occupation: </span>{{vip.occupation}}</div>
    <div><span>Born: </span>{{vip.born}}</div>
    <div><span>Accomplishments: </span>{{vip.reason}}</div>
    <img src="{{vip.yt}}">{{vip.yt}} -->
    <div id="{{vip.type}}" class="cardRow" style="display: flex; justify-content: center; height: 85vh; background-color: #CCCCCC; padding-top: 50px">
            <div class="card" style="padding-top: 15px; padding-left: 20px">
              <div class="photo" style="background:url({{vip.yt}})"></div>    
              <div class="name">{{vip.name}}<BR><span style="color:yellow;font-size:10px;line-height:10px;">{{vip.reason}}</span></div>
              <div class="name2">{{vip.detail}}</div>
              <!-- <div class="shine" id="{{vip.type}}"></div> -->
            </div>
            <!-- <span class="series"><br><br>1961 Topps</span> -->
          </div>
<!-- </div> -->

