
<div id="{{vip?.type}}" class="cardRow" style="display: flex; justify-content: center; height: 85vh; background-color: #CCCCCC; padding-top: 50px">

    <div class="card" style="padding-top: 15px; padding-left: 20px">
        <div class="photo" style="background:url({{vip?.yt}})"></div>    
        <div class="name">{{vip?.name}}<BR><span style="color:yellow;font-size:10px;line-height:10px;">{{vip?.reason}}</span></div>
        <div class="name2">{{vip?.detail}}</div>
    </div>
    <div>
        <!-- <label>Name:
            <input [(ngModel)]="vip.name" placeholder={{vip?.name}} />
        </label><br>
        <label>Occupation:
                <input [(ngModel)]="vip.occupation" placeholder={{vip?.occupation}} />
        </label><br>
        <label>Accomplishment:
                <input [(ngModel)]="vip.reason" placeholder={{vip?.reason}} />
        </label><br>
        <label>Team/Profession:
                <input [(ngModel)]="vip.detail" placeholder={{vip?.detail}} />
        </label><br>
        <label>Image/gif URL:
                <input [(ngModel)]="vip.yt" placeholder={{vip?.yt}} />
        </label> -->
    </div>

</div>

