<div class="header" style="background-color: #85cdca">
  <h1 style="padding-top: 10px; margin-top:0 !important">{{title}}</h1>
  <nav class="links" style="padding-bottom: 30px">
    <a routerLink="/vips">All VIPs</a><br>
    <a routerLink="/athletes">Athletes</a><br>
    <a routerLink="/actors">Actors</a><br>
    <a routerLink="/business">Business</a><br>
    <a routerLink="/music">Musicians</a><br>
    <a routerLink="/leader">Political Leaders</a>
    <a (click)="goBack()">Go Back</a>
  </nav>

</div>
<router-outlet></router-outlet>