<!-- <h2>
    <div>
        <label>
            <input [(ngModel)]="vip.name" placeholder="name"/>
        </label>
    </div>
</h2>
<div><span>ID: </span>{{vip.id}}</div>
<div><span>Name: </span>{{vip.name}}</div>
<div><span>Occupation: </span>{{vip.occupation}}</div>
<div><span>Claim to Fame: </span>{{vip.reason}}</div>
<div><span>Born: </span>{{vip.born}}</div> -->
<div class="page" style="background-color: #CCCCCC; padding-top: 20px">
    <div class="vipList" style="background-color: #CCCCCC; display: flex;padding-top: 20px; border-rad; margin: 0 auto;">
        <ul class="vips" style="height: 100%;max-width: 400px; width: 60vw; margin-left: auto; margin-right: auto; background-color:#CCCCCC; flex-direction: column; display: flex;">
        <li *ngFor="let vip of vips" style="max-width: 400px">
            <a routerLink="/detail/{{vip.id}}">
                <span class="badge">{{vip.id}}</span> {{vip.name}}
            </a>
        </li>
        </ul>
    </div>
</div>

<!-- <app-vip-detail [vip]= "selectedVip"></app-vip-detail> -->
<!-- <div *ngIf="selectedVip">
    <h2>{{selectedVip.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedVip.id}}</div>
    <div>
    <label>Name:
        <input [(ngModel)]="selectedVip.name" placeholder="name"/>
    </label>
    </div>
    <div><span>Occupation: </span>{{selectedVip.occupation}}</div>
</div> -->