<div class="page" style="background-color: #CCCCCC; padding-top: 20px">
    <div class="addDiv">
        <h4 style="text-align: center">Add VIP</h4>
        <label>Name:
            <input #vipName />
        </label><br>

            <select style="display: none;">
                <option #vipType value="topps61">topps61</option>
            </select>

        <label>Team or Profession:
                <input #vipDetail />
        </label><br>
        <label>Accomplishment:
                <input #vipReason />
        </label><br>
        <label>Image/gif URL:
                <input #vipYt />
        </label>
        <div style="display: flex; justify-content: center; margin-top: 5px">
            <button id="addBtn" style="background-color: #cccccc; border-radius: 8px; padding: 5px 10px" role="button" class="btn btn-success"(click)="add(vipName.value, vipType.value, vipDetail.value, vipReason.value, vipYt.value); 
            vipName.value=''; vipType.value='topps61'; vipDetail.value=''; vipReason.value=''; vipYt.value=''">Add VIP</button>
        </div>
    </div>
    <div class="vipList" style="background-color: #CCCCCC; display: flex; padding-top: 20px; margin: 0 auto;">
        <ul class="vips" style="height: 100%;max-width: 400px; width: 60vw; margin-left: auto; margin-right: auto; background-color:#CCCCCC; flex-direction: column; display: flex;">
        <li *ngFor="let vip of vips" style="max-width: 400px">
            <a routerLink="/detail/{{vip.id}}">
                <span class="badge">{{vip.id}}</span> {{vip.name}}
            </a>
        </li>
        </ul>
    </div>

</div>
