body {
    margin:0
}

.module {
    display: table;
    padding: 20px;
    text-align: center;
    color: #eee;
    max-height: 120px;
    background-color: #3f525c;
    border-radius: 2px;
    margin-bottom: 20px;
    height:80px;
    width: 120px;

}

.module h4 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

@media (max-width: 1024px){
    .module {
        height: 80px;
        width: 120px;
    }
}

.sorted {
    max-width: 600px;
    margin: 0 auto;
    justify-content: space-around;
}


input {
    margin-bottom: 5px
}

.addDiv {
    background-color: #eaaeae;
    max-width: 300px;
    margin: 0 auto;
    padding: 1px 5% 10px;
    border-radius: 15px;
    text-align: left;
}

.sortedVip {
    display:flex;
    justify-content: center;
    min-width: 150px;
    margin: 10px
}

#addBtn {
    cursor: pointer;
}


a {
    text-decoration: none;
}