<div class="page" style="height: 85vh; background-color: #CCCCCC; padding-left: 2vw">
    <h3 style="margin-top:0 !important; padding-top: 20px; font-size: 30px; padding-bottom: 20px">Actors and Actresses</h3>
        <div class="sorted" style="display:flex; flex-wrap: wrap; justify-content: center;">
            <a *ngFor="let vip of vips" class="col-1-4"
                routerLink="/detail/{{vip.id}}">
                <div class="module vip">
                <h4>{{vip.name}}</h4>
                </div>
            </a>
        </div>
    </div> 